@inject ServerService ServerService

@page "/servers/{ServerId}"

@if (_server != null)
{
    <article class="media">
        <figure class="media-left" style="padding-right: 15px;">
            <p class="is-size-1">
                <span class="icon">
                    <i class="fas fa-server"></i>
                </span>
            </p>
        </figure>
        <div class="media-content">
            <p class="title is-4">@_server.Name</p>
            <p class="subtitle is-6">@_server.Description</p>
        </div>
    </article>
    <div class="buttons" style="padding-top: 1.5em;">
        <button class="button is-primary">
            <span class="icon">
                <i class="fas fa-file"></i>
            </span>
            <span>Show server config</span>
        </button>
        @if (!_isRevokedShowing)
        {
            <button class="button is-danger" @onclick="GetRevoked">
                <span class="icon">
                    <i class="fas fa-ban"></i>
                </span>
                <span>Show revoked</span>
            </button>
        }
        else
        {
            <button class="button" @onclick="HideRevoked">
                <span class="icon">
                    <i class="fas fa-minus-circle"></i>
                </span>
                <span>Hide revoked</span>
            </button>
        }
        
    </div>
    <div class="level is-mobile" style="padding-top: 1.5em;">
        <div class="level-left">
            <p class="title is-4">Clients</p>
        </div>
        <div class="level-right">
            <button class="button is-success is-rounded" @onclick="@(() => _showPopup = true)">
                <span class="icon">
                    <i class="fas fa-user-plus"></i>
                </span>
                <span>New client</span>
            </button>
        </div>
    </div>

    <hr style="margin-top: 0;">

    <div class="tile is-ancestor" style="flex-wrap: wrap;">
    @foreach (var client in _server.Clients)
    {
        <div class="tile is-parent is-4 serverbox" @onclick="@(() => ShowClient(client.Id))">
            <article class="tile is-child box">
                <p class="title">@client.Name</p>
                <p class="subtitle">@client.Description</p>
            </article>
        </div>
    }
    @foreach (var client in _revoked)
    {
        <div class="tile is-parent is-4 serverbox" @onclick="@(() => ShowClient(client.Id))">
            <article class="tile is-child box notification is-danger">
                <p class="title">@client.Name</p>
                <p class="subtitle">@client.Description</p>
            </article>
        </div>
    }
    </div>

    @if (_showPopup)
    {
        @if (_clientId.HasValue)
        {
            <ClientForm ClientId="@_clientId.Value" OnClose="ClosePopup"></ClientForm>
        }
        else
        {
            <NewClientForm CloseAction="ClosePopup" ServerDto="@_server"></NewClientForm>
        }
    }
}

@code
{
    private int? _clientId = null;
    private bool _isRevokedShowing;
    private bool _showPopup = false;
    private ServerDto _server;
    private IEnumerable<ClientDto> _revoked = Enumerable.Empty<ClientDto>();

    [Parameter]
    public string ServerId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var id = int.Parse(ServerId);
        _server = await ServerService.Get(id);
    }

    private async Task ClosePopup(bool wasUpdated)
    {
        if (wasUpdated) 
        {
            var id = int.Parse(ServerId);
            _server = await ServerService.Get(id);
            if (_isRevokedShowing)
            {
                _revoked = await ServerService.GetRevokedClients(id);
            }
        }
        _showPopup = false;
        _clientId = null;
    }
    
    private async Task GetRevoked()
    {
        _revoked = await ServerService.GetRevokedClients(int.Parse(ServerId));
        _isRevokedShowing = true;
    }

    private void HideRevoked()
    {
        _revoked = Enumerable.Empty<ClientDto>();
        _isRevokedShowing = false;
    }

    private void ShowClient(int id)
    {
        _clientId = id;
        _showPopup = true;
    }
}